 h1 {
    text-align: center;
    margin: auto;
    text-decoration-color: #000;
}

div {
    text-align: center;
    margin: auto;
}

.buttons {
    margin: auto;
}

body {
    background-color: bisque;
}

